%p
  %b Commenter:
  = comment.commenter

%p
  %b Comment:
  = comment.body

%p
  = link_to 'Destroy Comment', post_comment_path(post_id: comment.post.id, id: comment.id),
               :confirm => 'Are you sure?',
               :method => :delete